/* font */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* import common */
@import url(./common.css);



/* 헤 더 */

nav.top-btn {
  position: fixed;
  bottom: 11%; right: 50px;
  z-index: 999;

}
/* 맨 위 메 뉴 시작 */

div.main_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: 100px;
  background: #fff;
  z-index: 999;
  opacity: 0.7;
}

div.main_header .inner_wrap {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  height: 60px;



}

div.main_header .inner_wrap .img-log {
  width: 10%;

}

div.main_header .inner_wrap .img-log img {
  width: 100%;
  height: 30px;
}

div.main_header .inner_wrap ul {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

div.main_header .inner_wrap ul li button {
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
  height: 100%;
}

div.main_header .inner_wrap div {
  width: 30%;
}

div.main_header .inner_wrap .img-log {
  background: url(../img/hyu_logo_og_image.jpg) no-repeat center/cover;
  cursor: pointer;
}


div.main_header .inner_wrap div a {
  font-size: 15px;
  height: 100%;
}

div.main_header .inner_wrap div button {
  width: 13%;
  height: 100%;
}

div.main_header .inner_wrap div .btn-1 {
  margin-right: 20px;
}

/* 맨 위 메 뉴 끝*/



/* 첫 번 째 메 인 사 진 부 분 */
header.top_main {
  background: url(../img/brand_kv_ioniq6_w.jpg) no-repeat center/cover;
  width: 100%;
  height: 950px;
  position: relative;

}

header .txt-wrap {
  width: 100%;
  position: absolute;
  top: 10%;
  height: 90%;
}

header .txt-wrap a {
  display: block;
  color: #fff;
}

header .txt-wrap .text-1 {
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 30px;
  left: 300px;
}

header .txt-wrap .text-2 {
  font-size: 20px;
  font-weight: 600;

  position: absolute;
  top: 120px;
  left: 300px;
}

header .txt-wrap .btn-less {
  width: 50px;
  height: 150px;
  position: absolute;
  top: 250px;
  left: 100px;
  color: #fff;
  font-size: 50px;
}

header .txt-wrap .btn-than {
  width: 50px;
  height: 150px;
  position: absolute;
  top: 250px;
  right: 100px;
  color: #fff;
  font-size: 50px;
}

header .txt-wrap div .text-3 {
  position: absolute;
  top: 315px;
  left: 150px;
}

header .txt-wrap div .text-4 {
  position: absolute;
  top: 315px;
  right: 150px;
}

header .txt-wrap .main-content {
  margin: 10% auto;
  height: 50%;
  width: 70%;
}


header .txt-wrap .btn-2 {
  color: gray;
  opacity: 0.8;
  position: absolute;
  top: 75%;
  left: 45%;
}

header .txt-wrap .btn-2:nth-child(2) {
  margin-left: 25px;
}

header .txt-wrap .btn-2:nth-child(3) {
  margin-left: 50px;
}

header .txt-wrap .btn-2:nth-child(4) {
  margin-left: 75px;
}

header .txt-wrap .btn-2:nth-child(5) {
  margin-left: 100px;
}

header .txt-wrap .btn-2:nth-child(6) {
  margin-left: 125px;
  color: aqua;
}

header .txt-wrap .play-btn {
  margin-left: 150px;
}
header .txt-wrap .quick-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: lightgray;
  opacity: 0.4;
}

header .txt-wrap .quick-menu1 {
  margin: 0 auto;
  width: 48%;
}

header .txt-wrap .quick-menu1 button {
  width: 98px;
  margin: 0 5px;
  font-size: 12px; font-weight: 600;

}

header .txt-wrap .quick-menu1 button i {
  font-size: 15px;

}

header .txt-wrap .quick-menu1 button img {
  width: 100%;
  padding: 18px 18px 8px 18px;
}

header .txt-wrap .quick-menu2 {
  margin: 0 auto;
  width: 3%;
}

header .txt-wrap .quick-menu2 button {
  border-bottom: 3px solid;
  width: 45%;
}

header .txt-wrap .quick-menu2 button:last-child {
  border-bottom: 3px solid rgb(121, 118, 118);
}

/* 헤 더 끝 */




/* 세 션 1 */


.section-2 {
  width: 100%;
  height: 800px;
}

.section-2 div.content_2 {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.section-2 div.content_2 h2 {
  margin-top: 150px;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
}

.section-2 div.content_2 p {
  margin-top: 30px;
  color: gray;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
}

.section-2 div.content_2 .model1 {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  position: relative;


}

.section-2 div.content_2 .model1 a.model1-1 {
  width: 574px;
  height: 432px;
  position: absolute;
  top: 70px;
}

.section-2 div.content_2 .model1 a.model1-1 div {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0%;
  background: rgb(39, 114, 163);
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  line-height: 60px;
}

.section-2 div.content_2 .model1 div.model2 {
  width: 30%;
  height: 30px;
  position: absolute;
  top: 70px;
  left: 50%;
}

.section-2 div.content_2 .model1 div.model2 button {
  border-left: 1px solid lightgray;
  color: gray;
  font-weight: 600;
}

.section-2 div.content_2 .model1 div.model2 button:first-child {
  border: none;
  color: rgb(39, 114, 163);
}

.section-2 div.content_2 .model1 div.model3 a {
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 120px;
  left: 50%;
}

.section-2 div.content_2 .model1 div.model3 button {
  width: 224px;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 50%;
  font-weight: 700;
  text-align: left;

}

.section-2 div.content_2 .model1 div.model3 button img {
  width: 224px;
  height: 168px;
}

.section-2 div.content_2 .model1 div.model3 button:last-child {
  position: absolute;
  top: 300px;
  left: 72%;
}

/* 세션 1 끝 */



/* 세션 5 시작 */

.section-5 {
  width: 100%;
  height: 722px;
}

.section-5 div.section-main5 {
  width: 80%;
  height: 100%;
  margin: 0px auto;
}

.section-5 div h2 {
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
}

.section-5 div p {
  color: gray;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 30px;
}

.section-5 .section-main5 div.section-brand {
  width: 80%;
  height: 399px;
  margin: 50px auto;

}

.section-5 .section-main5 div.section-brand button {
  width: 24%;
  height: 399px;
  position: relative;
  overflow: hidden;

}

.section-5 .section-main5 div.section-brand button div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: block;
  width: 100%;
  opacity: 0;
}

.section-5 .section-main5 div.section-brand button::before {
  content: '';
  
  background-color: rgba(5, 5, 5, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.section-5 .section-main5 div.section-brand button:hover::before {
  /* width: 80%; */
}

.section-5 .section-main5 div.section-brand button div p {
  font-size: 14px;
  width: 82%;
  margin: 17px auto;
  color: #fff;
  font-weight: 600;
}

.section-5 .section-main5 div.section-brand button:hover div {
  opacity: 1;
}

.section-5 .section-main5 div.section-brand button img {
  width: 100%;
}

.section-5 .section-main5 div.section-brand button:hover img {
  transform: scale(1.2);
  width: 255px;
  height: 399px;
  transition: 0.8s;
}

/* 세션 5 끝 */


/* 세션 2 전기차부분 */

section.wrap-ec {
  width: 100%; height: 800px;
  border: 1px dashed red;
}

section.wrap-ec h2.ec-mainheader {
  width: 100%;
  border: 1px dashed red;
  text-align: center;

}

section.wrap-ec p.ec-mainsubtext {
  width: 100%;
  border: 1px dashed black;
  text-align: center;
}
section.wrap-ec div.ec-body {
  width: 80%; height: 70%;
  border: 1px dashed green;
  margin: 0 auto;
}


